.page-title{
    font-family: Arial;
    font-size: 70px;
    font-weight: bold;
    
    text-align: center;

    line-height: 24px;
    border-radius: 20px;
    border-color: white;
    background-color: rgb(24, 24, 37);  /* Adds a solid blue background */
    color: white;  /* Ensures the text is readable */
    padding: 20px;  /* Adds space around the text */
    padding-top: 60px;
    padding-bottom: 60px;
    /*display: inline-block;*/  /* Makes background wrap around the text */
    /* (Optional) Rounds the corners */
}


.lavishly-yours-regular {
    font-family: "Lavishly Yours", cursive;
    font-weight: 1000;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    background-color: white;  /* Background only around text */
    color: rgb(24, 24, 37);
    display: inline-block;  /* Makes background wrap around text */
    padding: 10px;  /* Adds space around the text */
    border-radius: 5px; /* (Optional) Rounds the corners */


}
  

.entry-button{
    color: rgb(24, 24, 37);
    font-family: Arial;
    font-size: 115px;
    margin-right: 85px;
    margin-top: 100px;
    border-color: rgb(24, 24, 37);
    background-color: white;
    border-style: solid;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.5s;
    
}

.entry-button:hover{
    background-color: rgb(24, 24, 37);
    color: white;
}
.entry-button:active{
    opacity: 0.8;
    background-color: rgb(36, 36, 54);
}

body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}


