<html>
    <head>
        <title>DASHBOARD</title>
        <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
    </head>
    <body>
        WELCOME TO YOUR DASHBOARD {{ member.name }}!
        <br>
        <br>
        <a href="{% url 'borrow_books' %}"><button>BORROW BOOK</button></b></a>
        <br>
        <a href="{% url 'return_books_page' %}">
            <button>RETURN BOOK</button>
        </a>
        <br>
        <a href="{% url 'view_reports' %}"><button>VIEW REPORTS</button></a>
        <br>
        <a href="{% url 'pay_penalties' %}"><button>Pay Penalties</button></a>


        
        <form action="{% url 'lib_logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

    </body>
</html>