<h2>My {{ report_type|title }} Report</h2>

<pre>{{ report.details }}</pre>

<!-- Allow users to choose between different report types -->
<form method="GET" action="{% url 'view_reports' %}">
    <label for="report_type">Select Report Type:</label>
    <select name="report_type" id="report_type">
        <option value="borrowed" {% if report_type == 'borrowed' %}selected{% endif %}>Borrowed</option>
        <option value="returned" {% if report_type == 'returned' %}selected{% endif %}>Returned</option>
        <option value="overdue" {% if report_type == 'overdue' %}selected{% endif %}>Overdue</option>
    </select>
    <button type="submit">Generate Report</button>
</form>


<br>
<a href="/dashboard"><button>Back To Dashboard</button></a>
